body {
  background-color: black;
  color: white;
}

main {
  padding-left: 90px;
  padding-right: 90px;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
.nubula1{
	width: 275px;
  height: 275px;
  float: left;
}
.nubula2{
	width: 275px;
  height: 275px;
  float: right;
}
